langchain
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-chroma
chromadb
sentence-transformers
huggingface-hub
python-dotenv
pypdf
docx2txt
google-genai
jq
langchain_experimental
networkx
scikit-learn
langchain-ollama
flask
reportlab
langchain-google-genai